@model Sindicato_v1.Models.ViewModels.RecoveryViewModel
@{
    ViewBag.Title = "Recuperar contraseña";
}
<br />
<br />
<br />
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index/">SIICE</a>
        </div>
    </div>
</nav>
<div class="text-center">
    <h2>Recuperación de contraseña de usuario</h2>
</div>



@*<div class="row">
    <div class="col-sm-12">
        <div class="form-style">
            <form action="@Url.Content("~/Usuario/StarRecovery" )" method="post">
                <label>Escribe aqui tu correo electronico:</label>
                @Html.TextBoxFor(d => d.Email, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Email, null, new { style = "color:red;" })
                <br />
                <div class="text-right">
                    <button href="~/Usuario/Recovery" class="btn btn-primary">Solicitar cambio de contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>*@

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img style="padding: 40px 0px 40px;" src="~/Content/Resources/Images/logo_Login.png" id="icon" alt="User Icon" />
        </div>

        <div class="text-center">
            <h4>Por favor ingrese el correo electrónico asociado con la cuenta que desea recuperar</h4>
        </div>
        <!-- Recovery Form -->
        <form action="@Url.Content("~/Usuario/StarRecovery")" method="post">
            <input id="login-form" name="email" type="text" class="fadeIn second validate[required, custom[onlyNumberSp]]" placeholder="Su correo electrónico...">
            <input type="submit" class="fadeIn fourth" value="Continuar">
        </form>


        <!-- Remind Passowrd -->
    </div>
</div>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/login-style.css" rel="stylesheet" />

